a.rainbow {
   opacity: 0.85;
   font-family: 'Berkshire Swash', cursive;
   font-weight: 900;
   padding: 20px;
   border: none;
   font-size: 48px;
   text-align: center;
   letter-spacing: 8px;
   left: 0;
   line-height: 200px;
   margin-top: -100px;
   position: absolute;
   top: 50%;
   width: 100%;
}

html {
  background: url("Background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Above image copyright notice: http://www.psdgraphics.com/file/crumpled-paper.jpg */
