*{
  text-align: center;
  height: auto;
  width: auto;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 1);
  background-color: rgb(51, 51, 51);
  background-color: rgba(51, 51, 51, 0.2);
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  font-weight: 900;
  padding: 20px;
  border: 1.5px dotted #0d0d0d;
}

a {
  background-color : transparent;
}

a:hover
{
  color: #0d0d0d;
  cursor: pointer;
}

p {
  font-weight: 100;
  border: 1.5px dotted #0d0d0d;
  padding: 20px 40px 20px 40px;
}

body {
  margin: 40px 220px 40px 220px;
}

html {
  background: url("Background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Above image copyright notice: http://www.psdgraphics.com/file/crumpled-paper.jpg */

#profiles {
    height:auto;
}

#profiles DIV {
    margin:auto;
    padding:auto;
}

.profile {
    opacity:0;
}

#alphabetlistcontainer a {
    margin: 2.5px;
}

#oops:hover {
     color: #0d0d0d;
     cursor: pointer;
}

#suggestions, #oops {
    padding: 5px;
    text-align: center;
}

#suggestions {
    padding: 50px;
    display: none;
}
